<!-- include header -->
<%- include('header') %>
    <!-- /include header -->
    <style>
        .k {
            background-color: black;
            text-align: center;
            color: white;
            font-size: 25px;
            height: 50px;
        }
        .foot{
            position: fixed;
            bottom: 0;
            background-color: black;
            text-align: center;
            color: white;
            width: 100%;
            font-size: 25px;
            height: 50px;

        }
        .f{
            text-align: center;
        }
        .a {
        background-color: black;
        color: white;
        border:none;
        margin-top: 5%;
        padding-left: 0%;
        }
        .t{
            text-align: center;
            align-items: center;
        }
       
    </style>

    <body>
        <header>
            <div class="k">
                <a  href="https://locandyy.herokuapp.com/" >
                    Locandyy</div></a>
        </header>
        <main>


            <br>
            <br>
            <br>
            <form action="/locations" class="f" method="POST">
                <div class="card-body">
                    <div class="form-group">
                        <label for="name" class="c1">Name: </label>
                        <input id="name" type="text" name="locationName" required>
                    </div>
                    <!-- <div class="form-group">
                        <label for="locationName">Location Name:</label>
                        <input type="text" class="form-control" id="locationName" name="locationName"  pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="Accepts only alphabets." autocomplete="off" required>
                      </div> -->
                    <div class="form-group">
                        <label for="latitude" class="c1">Latitude: </label>
                        <input type="number" step =".0000000000000001" name="latitude" min="-90.00000000000" max= "90.0000000000" required>
                    </div>
                    <div class="form-group">
                        <label for="longitude" class="c1">Longitude: </label>
                        <input  type="number" step = ".000000000000001" name="longitude" min="-180.000000000000" max="180.0000000000000" required>
                    </div>

                    <div id="t">
                        <button type="submit" class="btn btn-black" >Save</button>
                    </div>
                    </div>
            </form>
        </main>

        <link href="../public/Styles/main.css" rel="stylesheet" type="text/css">
        <script type="module " src="../services.js "></script>
    </body>
    <br>
    <footer class="foot">

        <a href="https://github.com/Chandupolisetty/Locandyy">
            <i class="fab fa-github "></i> GitHub</a>
    </footer>
