<!-- include header -->
<%- include('header') %>
    <!-- /include header -->
    <body>
        <header>
            <header>
                <div class = "k">Locandyy</div>
                </header>
            
        </header>
        <main>
            
            <br>
            <br>
            <br>
            <form action="/locations" class = "f" method="POST">

                <div class="form-group">
                    <label for="name" class="c1">Name:   </label>
                    <input type="text" name="name" value="">
                </div>
                <div class="form-group">
                    <label for="latitude" class="c1">Latitude:   </label>
                    <input type="decimal" name="latitude" value="">
                </div>
                <div class="form-group">
                    <label for="longitude" class="c1">Longitude:   </label>
                    <input type="decimal" name="longitude" value="">
                </div>




                <div class="form-group">
                    <button type="submit" class="btn text-dark update">edit</button>
                </div>


            </form>
        </main>
        <script type="module " src="./scripts/main.js "></script>
    </body>
    <br>
    <!-- Footer -->
    <%- include('footer') %>