<!-- include header -->
<%- include('header') %>
    <!-- /include header -->
<style>
    .d{
        padding-left: 30%;
    }
    #t{
        background-color: black;
        color: white;
        border:none;
        margin-top: 5%;
        border-radius: 5px;
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 2%;
    }
    
    
</style>
    <body>
        <header>
            <div class="k">Locandyy</div>
        </header>
        <main>
            <article>
                <div>
                    <div id="container">
                        <div id="field"></div>
                        <div id="field1"></div>
                        <br/>
                    </div >
                    <!-- <div class = "d">
                        <button type="button" class="btn btn-black" onclick="productUpdate();">Add locations</button>
                    </div> -->
                    <br>
                    <br>

                    <div class="form-group">
                        <form action="http://localhost:3000/locations/create">
                            <input type="submit" value="Add Location" id ="t"/>
                        </form>
                        </div>
                    <!-- <div class = "d">
                        <button type="button" class="btn btn-black" onclick="displays()">Add locations</button>
                    </div> -->
                    </div>
                </div>
            </article>
        </main>
        <script type="module" src="./scripts/main.js "></script>
        <link href="../public/Styles/main.css" rel="stylesheet" type="text/css">
    </body>
    <br>
    <!-- Footer -->
    <%- include('footer') %>