<!-- include header -->
<%- include('header') %>
    <!-- /include header -->
<style>
    .d{
        padding-left: 30%;
    }
    
</style>
    <body>
        <header>
            <div class="k">Locandyy</div>
        </header>
        <main>
            <article>
                <div>
                    <div id="container">
                        <div id="field"></div>
                        <div id="field1"></div>
                        <br/>
                    </div >
                    <!-- <div class = "d">
                        <button type="button" class="btn btn-black" onclick="productUpdate();">Add locations</button>
                    </div> -->
                    

                    <div class="form-group" >
                        <form action="http://localhost:3000/locations/create">
                            <input type="submit" value="Add Location" />
                        </form>
                    </div>
                    </div>
                </div>
            </article>
        </main>
        <script type="module" src="./scripts/main.js "></script>
        <link href="../public/Styles/main.css" rel="stylesheet" type="text/css">
    </body>
    <br>
    <!-- Footer -->
    <%- include('footer') %>