<!-- include header -->
<%- include('header') %>
    <!-- /include header -->

    <body>
        <header>
            <div class="k">Locandyy</div>
        </header>
        <main>
            <article>
                <div>
                    <div id="container">
                        <div id="status"></div>
                        <div id="status1"></div>
                    </div>
                </div>
            </article>
        </main>
        <script type="module" src="./scripts/main.js "></script>
        <link href="../public/Styles/main.css" rel="stylesheet" type="text/css">
    </body>
    <br>
    <!-- Footer -->
    <%- include('footer') %>